.footertop {
    bottom: 10em;
    width: 100%;
    background-color: antiquewhite;
    height: 25em;
    justify-content: space-between;
    align-items: center;
}

.title_footertop{
    font-size: 1.6em;
    text-align: center;
    padding-top: 1.8em;
    margin-bottom: 0.7em; /* Add space below the title */
}

.footertop .footertop_info {
    display: flex;
    text-align: center;
}

.footertop .footertop_info .hours,.footertop .footertop_info .contact {
    flex: 1; /* Distribute available space evenly between children */
}