.footertop {
  
    bottom: 10em;
    width: 100%;
    background-color: antiquewhite;
    height: 25em;
    justify-content: space-between;
    align-items: center;
}

.footertop h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.7em; /* Add space below the title */
}

.footertop .info {
    display: flex;
    text-align: center;
}

.footertop .info .palace,.footertop .info .contact {
    flex: 1; /* Distribute available space evenly between children */
}