.footertop {
    bottom: 10em;
    width: 100%;
    background-color: rgb(25, 0, 43);
    
    height: 12em;
    display: flex; /* Add this line to make it a flex container */
    justify-content: space-evenly;
    align-items: center;
}

.footertop {
    display: flex;
    text-align: center;
    justify-content: space-evenly; /* Change space-evenly to space-between */
}
.footertop .hours h2,.footertop .contact h2{color: #fff;}
.footertop .hours p,.footertop .contact p{color: grey;}
