/* style_news.css */

/* Custom styles for slick slider arrows */
.slick-prev,.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.8em;
    border-radius: 50%;
    font-family: "Oregon LDO DemiBold", sans-serif,"Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", sans-serif; /* Use the existing font */
}

.slick-prev:hover,.slick-prev {
    left: 0.8em;
}

.slick-next {
    right: 0.8em;
}

/* Custom styles for slick slider */
.slick-slider {
    margin: 0 auto;
    width: 80%;
}

.slick-slide {
    margin: 0 0;
}

.latest-events-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-grow: 1;
}

.event-slider {
    width: 70%;
}

.event-item {
    padding: 1.6em;
    border-radius: 0.8em;
    margin-right: 0; /* Adjust margin between news cards */
}

.event-item:last-child {
    margin-right: 0; /* Remove margin for the last news card */
}

.event-item h3 {
    margin-top: 0;
}

.event-item p {
    margin-bottom: 0;
}

.event-item,.latest-news {
    text-align: center;
    font-family: "Oregon LDO DemiBold", sans-serif; /* Using the same font */
}
.event-item {
    padding: 1.6em;
    border-radius: 0.8em;
    margin-right: 0.8em;
    box-shadow: 0 1em 0.5em rgba(0, 0, 0, 0.5);
}
.latest-events {
    width: 100%; /* Adjust the width */
    text-align: center;
    background-color: #fff; /* Set background color to white */
    color: #afa403; /* Change text color to dark gray */
}